RewriteEngine on
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_URI} !^public

RewriteRule ^(.*)$ public/$1 [L]


# Bản Quyền Thuộc Về Bltech  Dev Bùi Văn Quyết